.ControlPanel_outer {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.ControlPanel_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border:#c9c5c5 1px solid;
    border-radius: 3%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 5rem;
}

.ControlPanel_button {
    background-color: transparent;
    border: none;
    color: #c9c5c5;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
    text-align: center;
    font-size: 3em;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ControlPanel_button:hover {
    background-color: #3f3e3e;
}

.ControlPanel_buttonSeparator {
    font-size: 3em;
}

.ControlPanel_speed_outer {
    display: flex;
    align-items: center;
    flex-direction: column;
    border:#c9c5c5 1px solid;
    border-radius: 5%;
    padding-top: 0.5rem;
    min-width: 12rem;
}

.ControlPanel_speed_inner {
    display: flex;
    align-items: center;
}

.ControlPanel_speedTitle {
    font-size: 1.3rem;
}

.ControlPanel_speedButton {
    background-color: transparent;
    border: none;
    color: #c9c5c5;
    text-align: center;
    font-size: 2em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding:0;
}

.ControlPanel_speedCounter{
    margin-right: -2rem;
    font-size: 3rem;
}

.ControlPanel_speedGauge {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: -2rem;
    margin-bottom: -2rem;
}