.GameMap_outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GameMap_inner {
  width: fit-content;
  padding-right: 12px;
  padding-left: 12px;
}

.GameMap_cell {
  margin: 0px;
  padding: 0px;
  width: 18px;
  height: 18px;
}

.GameMap_cell_empty {
  background-color: floralwhite;
}

.GameMap_cell_health {
  background-color: floralwhite;
  color: rgb(214, 120, 120);
}

.GameMap_cell_ammo {
  background-color: floralwhite;
  color: rgba(2, 2, 2, 0.956);
}

.GameMap_cell_wall {
  color: saddlebrown;
}

.GameMap_cell_bomb {
  background-color: floralwhite;
  color: black;
}

.GameMap_cell_player {
  background-color: blue;
}

.GameMap_cell_bullet {
  background-color: floralwhite;
  color: dimgrey;
}

.GameMap_cell_fire {
  background-color: floralwhite;
  color: orange;
}

.GameMap_cell_materials {
  background-color: floralwhite;
  color: black;
  width: 14px;
}

.GameMap_cell_error {
  background-color: deeppink;
}

.Daniel_icon {
  background-color: floralwhite;
  color: rgb(216, 153, 25);
}

.Veikko_icon {
  background-color: floralwhite;
  color: rgb(175, 207, 33);
}

.Krishna_icon {
  background-color: floralwhite;
  color: rgb(33, 172, 65);
}

.Raif_icon {
  background-color: floralwhite;
  color: rgb(38, 192, 192);
}

.Ramesh_icon {
  background-color: floralwhite;
  color: rgb(180, 45, 185);
}

.Riku_icon {
  background-color: floralwhite;
  color: rgb(179, 33, 48);
}
