.GameMap_outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GameMap_inner {
    width:fit-content;
    padding-right: 12px;
    padding-left: 12px;
}

.GameMap_cell {
    margin: 0px;
    padding: 0px;
    width: 18px;
    height: 18px;
}

.GameMap_cell_empty {
    background-color: floralwhite;
}

.GameMap_cell_health {
    background-color: floralwhite;
    color:red;
}

.GameMap_cell_ammo {
    background-color: floralwhite;
    color:rgba(2, 2, 2, 0.956)
}

.GameMap_cell_wall {
    color: saddlebrown;
}

.GameMap_cell_bomb {
    background-color: floralwhite;
    color: black;
}

.GameMap_cell_player {
    background-color: blue;
}

.GameMap_cell_bullet {
    color: dimgrey;
}

.GameMap_cell_fire {
    color: orange;
}

.GameMap_cell_materials {
    background-color: floralwhite;
    color: brown;
}

.GameMap_cell_error {
    background-color: deeppink;
}